#BooMusic 1.4.9

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/BooMusic.plist

#Cake 5.1

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Cake.plist

#Canary 3.02

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Canary.plist

#Darkroom 3.8.1

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Darkroom.plist

#Facebook 82.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Facebook.plist

#Fanstatical 2.11.5

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Fantastical.plist

#iRemembered. 1.2

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/iRemembered.plist

#JSBox 1.60.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/JSBox.plist

#Mate 4.2.3

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Mate.plist

#Messenger 91.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Messenger.plist

#Planny 2.4.10

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Planny.plist

#Quantumult X 1.0.2

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/QuantumultX.plist

#RainbowKey 4.2.3

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/RainbowKey.plist

#Time to Events 1.14

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/TOE.plist

#Working Copy 3.9.9

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/WorkingCopy.plist

#Zalo 5.33

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Safari/Zalo.plist