#BooMusic 1.4.9

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/BooMusic.plist

#Cake 5.1

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Cake.plist

#Canary 3.02

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Canary.plist

#CleanPics 3.3.3
itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/CleanPics.plist

#Darkroom 3.8.1

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Darkroom.plist

#Facebook 82.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Facebook.plist

#Fanstatical 2.11.5

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Fantastical.plist

#iRemembered. 1.2

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/iRemembered.plist

#JSBox 1.60.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/JSBox.plist

#Mate 4.2.3

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Mate.plist

#Messenger 91.0

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Messenger.plist

#Planny 2.4.10

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Planny.plist

#Quantumult X 1.0.2

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/QuantumultX.plist

#RainbowKey 4.2.3

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/RainbowKey.plist

#Time to Events 1.14

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/TOE.plist

#Working Copy 3.9.9

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/WorkingCopy.plist

#Zalo 5.33

itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/LongThinh/Programer/master/Toolbox/Safari/Zalo.plist